
  .text{
    color: black;
    font-size: 30px ;
    border-radius: 10px;
    border-style: double;
    background-color: white; 
  
  }
  
  .menu{
    margin: auto;
    width: 50%;
    width: max-content;
    padding: 10px 20px;
    border-radius: 10px;
    border-style: double;
    background-color: white;
    color: black;
    font-size: 20px;
    transition: 200px transform;
    font-weight: 600;
  }
  
  .menu:hover{
    cursor: pointer;
    transform: translate(-5px);
  }

  body{
    background-image: url("/images/Background_tictac.jpg");
}